/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

body {
    background-color: #b2bec3;
}

.box {
    padding-top: 150px;
    background-color: white;
    width: 550px;
    height: 550px;
}

.box {
    position: relative;
    left: 434px;
    top: 275px;
}


p {
    font-size: 18px
}